<div class="row"> 
  <div class="col-xs-3 bordered">
    <h3 class="text-left">Commands</h3>
      <ul class="list-unstyled">
      <li><%= @action_one %></li>
      <li><%= @action_two %></li>
      <li><%= @action_three %></li>
      </ul>

  </div>
  <div class="col-xs-9 bordered">
    <img src=<%= @img_src %> alt="Monster" class="terminal centered">
    <p class="text-center"> <%= @img_text %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 bordered">
    <%= form_tag("/scene_two", method: "get", class:"text-center") do %>
     <%= label_tag(:q, "Type commands here:") %>
     <%= text_field_tag(:q) %>
     <%= submit_tag("Submit or press enter") %>
    <% end %>
  </div>
</div>