<div class="row"> 
  <div class="col-xs-3 bordered">
    <h3 class="text-left">Commands</h3>
      <ul class="list-unstyled">
      <li><%= @action_one %></li>
      <li><%= @action_two %></li>
      <li><%= @action_three %></li>
      <li><%= @action_four %></li>
      <li><%= @action_five %></li>
      </ul>

  </div>
  <div class="col-xs-9 bordered">
    <img src="http://www.monsoonco.com/wp-content/uploads/2014/12/MonsoonCo_HP_Sprout_hero1-1024x683.jpg" alt="Monster" class="terminal centered">
    <p class="text-center"> "The worlds greatest monster has arrived!!!!"
    </p>  
  </div>
</div>

<div class="row">
  <div class="col-xs-12 bordered">
    <form accept-charset="UTF-8" action="/" method="post">
      <input name="utf8" type="hidden" value="&#x2713;" />
      <input name="authenticity_token" type="hidden" value="J7CBxfHalt49OSHp27hblqK20c9PgwJ108nDHX/8Cts=" />
      Form contents
    </form>
    <input class="centered bordered terminal" type="text" placeholder="Hit Enter to Submit"> <br>
    <p class="text-center">Hit enter to submit</p>
  </div>
</div>